
@using Jocasta.Models;
@using Jocasta.Providers;
@{
    ListRoomCategoryView lsRoomCategory = (ListRoomCategoryView)ViewBag.ListRoomCategory;
    ViewBag.Title = "Danh sách loại phòng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@section slider{ 
    <!-- Header Banner -->
    <div class="banner-header section-padding valign bg-img bg-fixed" data-overlay-dark="4" data-background="/Content/img/slider/1.jpg">
        <div class="container">
            <div class="row">
                <div class="col-md-12 caption mt-90">
                    <h5>The Jocasta Mai Linh Hotel</h5>
                    <h1>Rooms & Suites</h1>
                </div>
            </div>
            <div class="row sub-banner">
                <ul>
                    <li>
                        <a href="index.html">Home</a>
                    </li>
                    <li>
                        <a class="select" href="room.html">Rooms</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


}



<!-- Rooms -->
<section class="section-padding">

    <div class="container">
        <div class="row">
            <div class="col-md-12">


                <!-- Search Room -->
                <div class="search-room">
                    <div class="input-search"><input class="" type="text" placeholder="Nhập tên loại phòng" /></div>
                    <div>
                        <button class="butn-dark"><a href="#0"><span>SEARCH</span></a></button>
                    </div>
                </div>
                @for (int indexRoomCategory = 0; indexRoomCategory < lsRoomCategory.List.Count; indexRoomCategory++)
                {
                    <div class="rooms2 mb-90 left animate-box" data-animate-effect="fadeInUp">
                        <figure><img src="@lsRoomCategory.List[indexRoomCategory].Image" alt="" class="img-fluid"></figure>
                        <div class="caption">
                            <h3>@lsRoomCategory.List[indexRoomCategory].Price VNĐ<span>/ Night</span></h3>
                            <h4><a href="room-detail.html">@lsRoomCategory.List[indexRoomCategory].Name</a></h4>
                            @*<p>Đây là kiểu phòng Suite có độ VIP cơ bản, chất lượng dịch vụ phòng cao hơn so với hạng phòng Deluxe. Junior Suite thường có 1 phòng ngủ + 1 phòng khách - thích hợp phục vụ cho cặp đôi mới cưới hoặc gia đình nhỏ.</p>*@
                            <div class="row room-facilities">
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="flaticon-group"></i> @lsRoomCategory.List[indexRoomCategory].NumberOfPeople</li>
                                        <li><i class="flaticon-wifi"></i> Free Wifi</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="flaticon-bed"></i>@lsRoomCategory.List[indexRoomCategory].DoubleBed Twin Bed</li>
                                        <li><i class="flaticon-breakfast"></i> @lsRoomCategory.List[indexRoomCategory].SingleBed Single Bed</li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul>
                                        <li><i class="flaticon-clock-1"></i> @lsRoomCategory.List[indexRoomCategory].Square</li>
                                        <li><i class="flaticon-swimming"></i> Swimming Pool</li>
                                    </ul>
                                </div>
                            </div>
                            <hr class="border-2">
                            <div class="info-wrapper">
                                <div class="more"><a href="room-detail.html" class="link-btn" tabindex="0">Details <i class="ti-arrow-right"></i></a></div>
                                <div class="butn-dark"> <a href="booknow.html" data-scroll-nav="1"><span>Book Now</span></a> </div>
                            </div>
                        </div>
                    </div>
                }

            </div>
        </div>
    </div>
</section>

<!--Pagination -->
<div class="row">
    <div class="col-md-12">
        <!-- Pagination -->
        <ul class="news-pagination-wrap align-center mb-30 mt-30">
            <li><a href=""><i class="ti-angle-left"></i></a></li>
            @for (int page = 1; page <= lsRoomCategory.TotalPage; page++)
            {
                @* <a href="/san-pham/danh-sach?Currentpage=@page" data-page="@page" class="product-page">
                        @page
                    </a>*@
                <li><a href="" data-page="@page" class="room-page">1</a></li>
            }
            <li><a href=""><i class="ti-angle-right"></i></a></li>
        </ul>
    </div>
</div>


@section styles{
    <style>
        .rooms2 .img-fluid {
            height: 400px;
        }

        .rooms2 .caption h3 {
            font-size: 20px;
        }

        .rooms2 .caption h4 {
            font-size: 30px;
        }
    </style>
}
@section scripts{
    <script>
        var activepage = function () {
            let link = window.location.href.split('/room-category/danh-sach/Currentpage=')[1];
            let listpage = $('.news-pagination-wrap').find('.room-page');
            console.log(link);
            for (let page = 0; page < listpage.length; page++) {
                if ($(listpage[page]).data('page') === parseInt(link)) {
                    console.log(link)
                    $(listpage[page]).addClass('active');
                }
            }
        }

        activepage();
    </script>
}
